<mat-card class="data-card">
    <mat-card-title>
        <h1>
            GRAPHQL PEOPLE DATA TABLE
          </h1>
    </mat-card-title>
    <mat-card-content>
      <table mat-table
      [dataSource]="allPersons" multiTemplateDataRows
      class="mat-elevation-z8">
 <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
   <th mat-header-cell *matHeaderCellDef> {{column}} </th>
   <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
 </ng-container>
 <ng-container matColumnDef="expand">
   <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
   <td mat-cell *matCellDef="let element">
     <button mat-icon-button aria-label="expand row" (click)="findByName(element)">
       <mat-icon *ngIf="expandedElement !== element" >keyboard_arrow_down</mat-icon>
       <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
     </button>
   </td>
 </ng-container>

 <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
     <div class="element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
       <div class="element-diagram">
         <div class="element-position"> {{element.hair_color}} </div>
         <div class="element-symbol"> {{element.skin_color}} </div>
         <div class="element-name"> {{element.eye_color}} </div>
         <div class="element-weight"> {{element.birth_year}} </div>
     
       </div>
 
     </div>
   </td>
 </ng-container>

 <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
 <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
     class="element-row"
     [class.example-expanded-row]="expandedElement === element"
     (click)="expandedElement = expandedElement === element ? null : element">
 </tr>
 <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

    </mat-card-content>
 
</mat-card>